# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
#log
*.log
*.pdb
*.ilk

# Executables
*.exe
*.out
*.app

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
\.[Vv]s/
[Uu]ic/
[Mm]oc/
[Qq]make/
Exinova_G524.tlog/

#vs .filters .user
*.filters 
*.user
